# This .env file specifies the environment configuration for running gds and trtl
# servers in development. If there are changes made to the config of either service,
# then add those environment variables to this file for testing purposes.
#
# Copy this file to `.env` in your project root and fill in the configuration values
# below. Alternatively, ask an admin to whisper you their configuration.
#
# NOTE: this file does not configure gds and trtl clients -- use profiles instead.

######################################################################################
## GDS: The Global Directory Service
######################################################################################

# GDS Primary Configuration
GDS_DIRECTORY_ID=local.directory.dev
GDS_SECRET_KEY=theeaglefliesatmidnight
GDS_MAINTENANCE=false
GDS_LOG_LEVEL=debug
GDS_CONSOLE_LOG=true

# GDS API Configuration
GDS_API_ENABLED=true
GDS_BIND_ADDR=:4433

# GDS Admin API Configuration
GDS_ADMIN_ENABLED=true
GDS_ADMIN_BIND_ADDR=:4434
GDS_ADMIN_MODE=debug
GDS_ADMIN_ALLOW_ORIGINS="http://localhost:3000,http://localhost:3001"
GDS_ADMIN_COOKIE_DOMAIN="localhost"
GDS_ADMIN_AUDIENCE="http://localhost:4433"
GDS_ADMIN_TOKEN_KEYS=

# GDS Admin OAuth Configuration - must match UI GOOGLE_CLIENT_ID configuration
GDS_ADMIN_OAUTH_GOOGLE_AUDIENCE=
GDS_ADMIN_OAUTH_AUTHORIZED_EMAIL_DOMAINS=

# GDS Members API Configuration
GDS_MEMBERS_ENABLED=true
GDS_MEMBERS_BIND_ADDR=:4435
GDS_MEMBERS_INSECURE=true
GDS_MEMBERS_CERTS=
GDS_MEMBERS_CERT_POOL=

# GDS Database Configuration
GDS_DATABASE_URL=trtl://localhost:4436/
GDS_DATABASE_REINDEX_ON_BOOT=false
GDS_DATABASE_INSECURE=true
GDS_DATABASE_CERT_PATH=
GDS_DATABASE_POOL_PATH=

# Sectigo Configuration
SECTIGO_TESTING=true
SECTIGO_USERNAME=
SECTIGO_PASSWORD=
SECTIGO_PROFILE=

# Email/SendGrid Configuration
GDS_SERVICE_EMAIL=
GDS_ADMIN_EMAIL=
SENDGRID_API_KEY=
GDS_VERIFY_CONTACT_URL=http://localhost:3000/verify
GDS_ADMIN_REVIEW_URL=http://localhost:3001/vasps/
GDS_EMAIL_TESTING=true
GDS_EMAIL_STORAGE=fixtures/email

# CertMan Configuration
GDS_CERTMAN_ENABLED=false
GDS_CERTMAN_REQUEST_INTERVAL=10m
GDS_CERTMAN_REISSUANCE_INTERVAL=24h
GDS_CERTMAN_STORAGE=fixtures/certs

# Backups Configuration
GDS_BACKUP_ENABLED=false
GDS_BACKUP_INTERVAL=1h
GDS_BACKUP_STORAGE=fixtures/backups
GDS_BACKUP_KEEP=1

# Google Application and Secrets Configuration
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_PROJECT_NAME=
GDS_SECRETS_TESTING=true

# Sentry Configuration
GDS_SENTRY_DSN=
GDS_SENTRY_ENVIRONMENT=
GDS_SENTRY_TRACK_PERFORMANCE=false

######################################################################################
## Trtl: A Globally Replicated Document Database
######################################################################################

# Trtl: Primary Configuration
TRTL_MAINTENANCE=false
TRTL_BIND_ADDR=:4436
TRTL_METRICS_ADDR=:7777
TRTL_METRICS_ENABLED=false
TRTL_LOG_LEVEL=debug
TRTL_CONSOLE_LOG=true

# Trtl: Database Configuration
TRTL_DATABASE_URL=leveldb:///fixtures/db
TRTL_DATABASE_REINDEX_ON_BOOT=false

# Trtl: Replica Configuration
TRTL_REPLICA_ENABLED=false
TRTL_REPLICA_PID=8
TRTL_REPLICA_REGION=local
TRTL_REPLICA_NAME=localhost
TRTL_REPLICA_GOSSIP_INTERVAL=10s
TRTL_REPLICA_GOSSIP_SIGMA=1500ms

# Trtl: Replica Configuration Strategy
TRTL_REPLICA_STRATEGY_HOSTNAME_PID=false
TRTL_REPLICA_STRATEGY_HOSTNAME=""
TRTL_REPLICA_STRATEGY_FILE_PID=""
TRTL_REPLICA_STRATEGY_JSON_CONFIG=""

# Trtl: mTLS Configuration
TRTL_INSECURE=false
TRTL_MTLS_CERT_PATH=
TRTL_MTLS_CHAIN_PATH=

# Trtl: Backup Configuration
TRTL_BACKUP_ENABLED=false
TRTL_BACKUP_INTERVAL=1h
TRTL_BACKUP_STORAGE=fixtures/backups
TRTL_BACKUP_KEEP=1

# Trtl: Sentry Configuration
TRTL_SENTRY_DSN=
TRTL_SENTRY_ENVIRONMENT=
TRTL_SENTRY_TRACK_PERFORMANCE=false

######################################################################################
## GDS BFF
######################################################################################

GDS_BFF_MAINTENANCE=false
GDS_BFF_BIND_ADDR=127.0.0.1:4437
GDS_BFF_MODE=release
GDS_BFF_LOG_LEVEL=info
GDS_BFF_CONSOLE_LOG=true
GDS_BFF_ALLOW_ORIGINS="http://localhost:3000,http://localhost:3003"
GDS_BFF_COOKIE_DOMAIN=localhost
GDS_BFF_LOGIN_URL=
GDS_BFF_REGISTER_URL=

GDS_BFF_SERVE_DOCS=true

GDS_BFF_AUTH_DOMAIN=
GDS_BFF_AUTH0_ISSUER=
GDS_BFF_AUTH0_AUDIENCE=
GDS_BFF_AUTH0_CLIENT_ID=
GDS_BFF_AUTH0_CLIENT_SECRET=

GDS_BFF_TESTNET_DIRECTORY_INSECURE=true
GDS_BFF_TESTNET_DIRECTORY_ENDPOINT=localhost:4436
GDS_BFF_TESTNET_DIRECTORY_TIMEOUT=5s

GDS_BFF_TESTNET_MEMBERS_INSECURE=true
GDS_BFF_TESTNET_MEMBERS_ENDPOINT=localhost:4435
GDS_BFF_TESTNET_MEMBERS_TIMEOUT=5s
GDS_BFF_TESTNET_MEMBERS_MTLS_CERT_PATH=
GDS_BFF_TESTNET_MEMBERS_MTLS_POOL_PATH=

GDS_BFF_TESTNET_DATABASE_URL=trtl://localhost:4436
GDS_BFF_TESTNET_DATABASE_INSECURE=true
GDS_BFF_TESTNET_DATABASE_CERT_PATH=
GDS_BFF_TESTNET_DATABASE_POOL_PATH=

GDS_BFF_MAINNET_DIRECTORY_INSECURE=true
GDS_BFF_MAINNET_DIRECTORY_ENDPOINT=localhost:5436
GDS_BFF_MAINNET_DIRECTORY_TIMEOUT=5s

GDS_BFF_MAINNET_MEMBERS_INSECURE=true
GDS_BFF_MAINNET_MEMBERS_ENDPOINT=localhost:5435
GDS_BFF_MAINNET_MEMBERS_TIMEOUT=5s
GDS_BFF_MAINNET_MEMBERS_MTLS_CERT_PATH=
GDS_BFF_MAINNET_MEMBERS_MTLS_POOL_PATH=

GDS_BFF_MAINNET_DATABASE_URL=trtl://localhost:4436
GDS_BFF_MAINNET_DATABASE_INSECURE=true
GDS_BFF_MAINNET_DATABASE_CERT_PATH=
GDS_BFF_MAINNET_DATABASE_POOL_PATH=

GDS_BFF_DATABASE_URL=trtl://localhost:4436/
GDS_BFF_DATABASE_REINDEX_ON_BOOT=false
GDS_BFF_DATABASE_INSECURE=true
GDS_BFF_DATABASE_CERT_PATH=
GDS_BFF_DATABASE_POOL_PATH=

GDS_BFF_SERVICE_EMAIL=

GDS_BFF_SENTRY_ENABLED=false
GDS_BFF_SENTRY_DSN=
GDS_BFF_SENTRY_ENVIRONMENT=
GDS_BFF_SENTRY_TRACK_PERFORMANCE=false

GDS_BFF_USER_CACHE_ENABLED=true
GDS_BFF_USER_CACHE_SIZE=
GDS_BFF_USER_CACHE_EXPIRATION=

######################################################################################
## React App Build Environment
######################################################################################

# Note: these may have to be added directly to the environment
REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_VASPDIRECTORY_CLIENT_ID=
REACT_APP_TRISATEST_CLIENT_ID=
REACT_APP_VASPDIRECTORY_ANALYTICS_ID=
REACT_APP_TRISATEST_ANALYTICS_ID=

# GDS User UI Build Args
REACT_APP_TRISA_BASE_URL=http://localhost:4437/v1/
REACT_APP_ANALYTICS_ID=
REACT_APP_VERSION_NUMBER=v1.9.0-dev
REACT_APP_AUTH0_DOMAIN=
REACT_APP_AUTH0_CLIENT_ID=
REACT_APP_AUTH0_REDIRECT_URI=http://localhost:3000/auth/callback
REACT_APP_AUTH0_SCOPE="openid profile email"
REACT_APP_AUTH0_AUDIENCE=https://bff.vaspdirectory.net
REACT_APP_SENTRY_DSN=

# These should be unset unless specifically needed for a build (e.g. for staging).
# REACT_APP_GIT_REVISION=
# REACT_APP_USE_DASH_LOCALE=
# REACT_APP_SENTRY_ENVIRONMENT=

# Staging Build Args
REACT_APP_STAGING_VASPDIRECTORY_ANALYTICS_ID=
REACT_APP_STAGING_VASPDIRECTORY_CLIENT_ID=
REACT_APP_STAGING_TESTNET_ANALYTICS_ID=
REACT_APP_STAGING_TRISATEST_CLIENT_ID=
REACT_APP_STAGING_AUTH0_CLIENT_ID=

######################################################################################
## Auth0 Login Environment
######################################################################################

AUTH0_DOMAIN=
AUTH0_AUDIENCE=https://bff.vaspdirectory.net
AUTH0_CLIENT_ID=
AUTH0_TOKEN_CACHE=.secrets/auth0_token.json

######################################################################################
## Other Environment Variables
######################################################################################

# Handling protobuf conflicts (may have to be added directly to environment)
GOLANG_PROTOBUF_REGISTRATION_CONFLICT=warn

# Ignore common name error for generated certs (may have to be added directly to environment)
GODEBUG=x509ignoreCN=0

# Docker compose project name
COMPOSE_PROJECT_NAME=trisa