version: "3"
services:
  gds:
    build:
      context: ../
      dockerfile: ./containers/gds/Dockerfile
      args:
        GIT_REVISION: ${GIT_REVISION}
    image: trisa/gds
    init: true
    depends_on:
      - trtl
    ports:
      - 4433:4433
      - 4434:4434
      - 4435:4435
    volumes:
      - ../fixtures:/data
    environment:
      - GDS_DIRECTORY_ID=trisatest.dev
      - GDS_SECRET_KEY=supersecretsquirrel
      - GDS_MAINTENANCE=false
      - GDS_LOG_LEVEL=debug
      - GDS_CONSOLE_LOG=true
      - GDS_API_ENABLED=true
      - GDS_BIND_ADDR=:4433
      - GDS_ADMIN_ENABLED=true
      - GDS_ADMIN_BIND_ADDR=:4434
      - GDS_ADMIN_MODE=release
      - GDS_ADMIN_ALLOW_ORIGINS=http://localhost:3001
      - GDS_ADMIN_COOKIE_DOMAIN=localhost
      - GDS_ADMIN_AUDIENCE=http://localhost:4433
      - GDS_ADMIN_TOKEN_KEYS=1y9jUjVqRqRJaiKsNqrZmQkhTqe:/data/creds/current_token_key.pem,1y9jTDgrljWl0iVUOQBcCev7rBG:/data/creds/rotated_token_key.pem
      - GDS_ADMIN_OAUTH_GOOGLE_AUDIENCE
      - GDS_ADMIN_OAUTH_AUTHORIZED_EMAIL_DOMAINS=travelrule.io,rotational.io,akiltechnologies.com,100kode.io
      - GDS_MEMBERS_ENABLED=true
      - GDS_MEMBERS_BIND_ADDR=:4435
      - GDS_MEMBERS_INSECURE=true
      - GDS_MEMBERS_CERTS
      - GDS_MEMBERS_POOL
      - GDS_DATABASE_URL=trtl://trtl:4436/
      - GDS_DATABASE_REINDEX_ON_BOOT=false
      - GDS_DATABASE_INSECURE=true
      - GDS_DATABASE_CERT_PATH
      - GDS_DATABASE_POOL_PATH
      - SECTIGO_TESTING=true
      - SECTIGO_USERNAME=cathyadmin
      - SECTIGO_PASSWORD=supersecretsquirrel
      - SECTIGO_PROFILE=17
      - SECTIGO_ENVIRONMENT=docker
      - SECTIGO_ENDPOINT=http://cathy:8831
      - GDS_SERVICE_EMAIL
      - GDS_ADMIN_EMAIL
      - SENDGRID_API_KEY
      - GDS_VERIFY_CONTACT_URL=http://localhost:3000/verify
      - GDS_ADMIN_REVIEW_URL=http://localhost:3001/vasps/
      - GDS_EMAIL_TESTING=true
      - GDS_EMAIL_STORAGE=/data/emails
      - GDS_CERTMAN_ENABLED=true
      - GDS_CERTMAN_REQUEST_INTERVAL=1m
      - GDS_CERTMAN_REISSUANCE_INTERVAL=108h
      - GDS_CERTMAN_STORAGE=/data/certs
      - GDS_BACKUP_ENABLED=false
      - GDS_BACKUP_INTERVAL=1h
      - GDS_BACKUP_STORAGE=/data/backups
      - GDS_BACKUP_KEEP=0
      - GOOGLE_APPLICATION_CREDENTIALS
      - GOOGLE_PROJECT_NAME
      - GDS_SECRETS_TESTING
      - GDS_SENTRY_DSN
      - GDS_SENTRY_ENVIRONMENT
      - GDS_SENTRY_TRACK_PERFORMANCE
      - GDS_ACTIVITY_ENABLED=false

    profiles:
      - gds
      - api
      - testnet
      - all

  trtl:
    build:
      context: ../
      dockerfile: ./containers/trtl/Dockerfile
      args:
        GIT_REVISION: ${GIT_REVISION}
    image: trisa/trtl
    init: true
    ports:
      - 4436:4436
      - 7777:7777
    volumes:
      - ../fixtures:/data
    environment:
      - TRTL_MAINTENANCE=false
      - TRTL_BIND_ADDR=:4436
      - TRTL_METRICS_ADDR=:7777
      - TRTL_METRICS_ENABLED=true
      - TRTL_LOG_LEVEL=debug
      - TRTL_CONSOLE_LOG=true
      - TRTL_DATABASE_URL=leveldb:////data/trtl/db
      - TRTL_DATABASE_REINDEX_ON_BOOT=false
      - TRTL_REPLICA_ENABLED=false
      - TRTL_REPLICA_PID=8
      - TRTL_REPLICA_REGION=docker
      - TRTL_REPLICA_NAME=docker-8
      - TRTL_REPLICA_GOSSIP_INTERVAL=10s
      - TRTL_REPLICA_GOSSIP_SIGMA=1500ms
      - TRTL_INSECURE=true
      - TRTL_MTLS_CERT_PATH
      - TRTL_MTLS_CHAIN_PATH
      - TRTL_BACKUP_ENABLED=false
      - TRTL_BACKUP_INTERVAL=1h
      - TRTL_BACKUP_STORAGE=/data/backups
      - TRTL_BACKUP_KEEP=1
      - TRTL_SENTRY_DSN
      - TRTL_SENTRY_ENVIRONMENT
      - TRTL_SENTRY_TRACK_PERFORMANCE
    profiles:
      - db
      - gds
      - api
      - testnet
      - all

  gds-bff:
    build:
      context: ../
      dockerfile: ./containers/bff/Dockerfile
      args:
        GIT_REVISION: ${GIT_REVISION}
    image: trisa/gds-bff
    init: true
    depends_on:
      - gds
      - gds-mainnet
    ports:
      - 4437:4437
    volumes:
      - ../fixtures:/data
    environment:
      - GDS_BFF_MAINTENANCE=false
      - GDS_BFF_BIND_ADDR=:4437
      - GDS_BFF_MODE=release
      - GDS_BFF_LOG_LEVEL=debug
      - GDS_BFF_CONSOLE_LOG=true
      - GDS_BFF_ALLOW_ORIGINS=http://localhost:3000
      - GDS_BFF_COOKIE_DOMAIN=localhost
      - GDS_BFF_LOGIN_URL=http://localhost:3000/auth/login
      - GDS_BFF_REGISTER_URL=http://localhost:3000/auth/register
      - GDS_BFF_SERVE_DOCS=true
      - GDS_BFF_TESTNET_DIRECTORY_INSECURE=true
      - GDS_BFF_TESTNET_DIRECTORY_ENDPOINT=gds:4433
      - GDS_BFF_TESTNET_DIRECTORY_TIMEOUT=5s
      - GDS_BFF_TESTNET_DATABASE_URL=trtl://trtl:4436/
      - GDS_BFF_TESTNET_DATABASE_INSECURE=true
      - GDS_BFF_TESTNET_MEMBERS_MTLS_INSECURE=true
      - GDS_BFF_TESTNET_MEMBERS_ENDPOINT=gds:4435
      - GDS_BFF_MAINNET_DIRECTORY_INSECURE=true
      - GDS_BFF_MAINNET_DIRECTORY_ENDPOINT=gds-mainnet:8433
      - GDS_BFF_MAINNET_DIRECTORY_TIMEOUT=5s
      - GDS_BFF_MAINNET_DATABASE_URL=trtl://trtl-mainnet:8436/
      - GDS_BFF_MAINNET_DATABASE_INSECURE=true
      - GDS_BFF_MAINNET_MEMBERS_MTLS_INSECURE=true
      - GDS_BFF_MAINNET_MEMBERS_ENDPOINT=gds-mainnet:8435
      - GDS_BFF_DATABASE_URL=trtl://trtl:4436/
      - GDS_BFF_DATABASE_REINDEX_ON_BOOT=false
      - GDS_BFF_DATABASE_INSECURE=true
      - GDS_BFF_SERVICE_EMAIL
      - SENDGRID_API_KEY
      - GDS_BFF_EMAIL_TESTING=true
      - GDS_BFF_EMAIL_STORAGE=/data/emails
      - GDS_BFF_SENTRY_DSN
      - GDS_BFF_SENTRY_ENVIRONMENT
      - GDS_BFF_SENTRY_TRACK_PERFORMANCE
      - GDS_BFF_AUTH0_TESTING=false
      - GDS_BFF_AUTH0_DOMAIN=dev-bu-hbv3o.us.auth0.com
      - GDS_BFF_AUTH0_ISSUER=https://auth.vaspdirectory.dev/
      - GDS_BFF_AUTH0_AUDIENCE=https://bff.vaspdirectory.dev
      - GDS_BFF_AUTH0_CLIENT_ID
      - GDS_BFF_AUTH0_CLIENT_SECRET
      - GDS_BFF_USER_CACHE_ENABLED
      - GDS_BFF_USER_CACHE_SIZE=100
      - GDS_BFF_USER_CACHE_EXPIRATION=5m
      - GDS_ACTIVITY_ENABLED=false

    profiles:
      - api
      - testnet
      - mainnet
      - bff
      - all

  gds-user-ui:
    build:
      context: ../
      dockerfile: ./containers/gds-user-ui/Dockerfile
      args:
        REACT_APP_TRISA_BASE_URL: http://localhost:4437/v1/
        REACT_APP_ANALYTICS_ID: ${REACT_APP_STAGING_VASPDIRECTORY_ANALYTICS_ID}
        REACT_APP_VERSION_NUMBER: ${REACT_APP_VERSION_NUMBER}
        REACT_APP_GIT_REVISION: ${REACT_APP_GIT_REVISION}
        REACT_APP_SENTRY_DSN: ${REACT_APP_SENTRY_DSN}
        REACT_APP_SENTRY_ENVIRONMENT: development
        REACT_APP_AUTH0_DOMAIN: auth.vaspdirectory.dev
        REACT_APP_AUTH0_CLIENT_ID: ${REACT_APP_AUTH0_CLIENT_ID}
        REACT_APP_AUTH0_REDIRECT_URI: http://localhost:3000/auth/callback
        REACT_APP_AUTH0_SCOPE: "openid profile email"
        REACT_APP_AUTH0_AUDIENCE: https://bff.vaspdirectory.dev
        REACT_APP_MAINTENANCE_MODE: "false"
        REACT_APP_ENABLE_CERT_MANAGEMENT_FEAT: "false"
        REACT_APP_USE_DASH_LOCALE: ""
    image: trisa/gds-user-ui
    init: true
    depends_on:
      - gds-bff
    ports:
      - 3000:80
    profiles:
      - user
      - ui
      - testnet
      - mainnet
      - all

  gds-admin-ui:
    build:
      context: ../
      dockerfile: ./containers/gds-admin-ui/Dockerfile
      args:
        REACT_APP_GDS_API_ENDPOINT: http://localhost:4434/v2
        REACT_APP_GDS_IS_TESTNET: "true"
        REACT_APP_GOOGLE_CLIENT_ID: ${REACT_APP_GOOGLE_CLIENT_ID}
        REACT_APP_SENTRY_DSN: ${REACT_APP_ADMIN_SENTRY_DSN}
        REACT_APP_SENTRY_ENVIRONMENT: "development"
        REACT_APP_VERSION_NUMBER: ${REACT_APP_VERSION_NUMBER}
        REACT_APP_GIT_REVISION: ${REACT_APP_GIT_REVISION}
    image: trisa/gds-testnet-admin-ui
    depends_on:
      - gds
    init: true
    ports:
      - 3001:80
    profiles:
      - admin
      - ui
      - testnet
      - all

  prometheus:
    image: prom/prometheus:latest
    depends_on:
      - trtl
    ports:
      - 9090:9090
    volumes:
      - ./monitor/prometheus.yml:/etc/prometheus/prometheus.yml
    profiles:
      - monitor
      - all

  grafana:
    image: grafana/grafana:latest
    depends_on:
      - prometheus
    ports:
      - 3004:3000
    volumes:
      - ./monitor/grafana:/var/lib/grafana
    profiles:
      - monitor
      - all

  # A secondary GDS deployment to mimick having both testnet and production
  gds-mainnet:
    build:
      context: ../
      dockerfile: ./containers/gds/Dockerfile
      args:
        GIT_REVISION: ${GIT_REVISION}
    image: trisa/gds
    init: true
    depends_on:
      - trtl-mainnet
    ports:
      - 8433:8433
      - 8434:8434
      - 8435:8435
    volumes:
      - ../fixtures:/data
    environment:
      - GDS_DIRECTORY_ID=vaspdirectory.dev
      - GDS_SECRET_KEY=supersecretsquirrel
      - GDS_MAINTENANCE=false
      - GDS_LOG_LEVEL=debug
      - GDS_CONSOLE_LOG=true
      - GDS_API_ENABLED=true
      - GDS_BIND_ADDR=:8433
      - GDS_ADMIN_ENABLED=true
      - GDS_ADMIN_BIND_ADDR=:8434
      - GDS_ADMIN_MODE=release
      - GDS_ADMIN_ALLOW_ORIGINS=http://localhost:3002
      - GDS_ADMIN_COOKIE_DOMAIN=localhost
      - GDS_ADMIN_AUDIENCE=http://localhost:8433
      - GDS_ADMIN_TOKEN_KEYS=1y9jUjVqRqRJaiKsNqrZmQkhTqe:/data/creds/current_token_key.pem,1y9jTDgrljWl0iVUOQBcCev7rBG:/data/creds/rotated_token_key.pem
      - GDS_ADMIN_OAUTH_GOOGLE_AUDIENCE
      - GDS_ADMIN_OAUTH_AUTHORIZED_EMAIL_DOMAINS=travelrule.io,rotational.io,akiltechnologies.com,100kode.io
      - GDS_MEMBERS_ENABLED=true
      - GDS_MEMBERS_BIND_ADDR=:8435
      - GDS_MEMBERS_INSECURE=true
      - GDS_MEMBERS_CERTS
      - GDS_MEMBERS_POOL
      - GDS_DATABASE_URL=trtl://trtl-mainnet:8436/
      - GDS_DATABASE_REINDEX_ON_BOOT=false
      - GDS_DATABASE_INSECURE=true
      - GDS_DATABASE_CERT_PATH
      - GDS_DATABASE_POOL_PATH
      - SECTIGO_TESTING=true
      - SECTIGO_USERNAME=cathyadmin
      - SECTIGO_PASSWORD=supersecretsquirrel
      - SECTIGO_PROFILE=85
      - SECTIGO_ENVIRONMENT=docker
      - SECTIGO_ENDPOINT=http://cathy:8831
      - GDS_SERVICE_EMAIL
      - GDS_ADMIN_EMAIL
      - SENDGRID_API_KEY
      - GDS_VERIFY_CONTACT_URL=http://localhost:3000/verify
      - GDS_ADMIN_REVIEW_URL=http://localhost:3002/vasps/
      - GDS_EMAIL_TESTING=true
      - GDS_EMAIL_STORAGE=/data/emails
      - GDS_CERTMAN_ENABLED=true
      - GDS_CERTMAN_REQUEST_INTERVAL=1m
      - GDS_CERTMAN_REISSUANCE_INTERVAL=108h
      - GDS_CERTMAN_STORAGE=/data/certs
      - GDS_BACKUP_ENABLED=false
      - GDS_BACKUP_INTERVAL=1h
      - GDS_BACKUP_STORAGE=/data/backups
      - GDS_BACKUP_KEEP=0
      - GOOGLE_APPLICATION_CREDENTIALS
      - GOOGLE_PROJECT_NAME
      - GDS_SECRETS_TESTING
      - GDS_ACTIVITY_ENABLED=false
    profiles:
      - gds
      - api
      - mainnet
      - all

  trtl-mainnet:
    build:
      context: ../
      dockerfile: ./containers/trtl/Dockerfile
      args:
        GIT_REVISION: ${GIT_REVISION}
    image: trisa/trtl
    init: true
    ports:
      - 8436:8436
      - 7778:7778
    volumes:
      - ../fixtures:/data
    environment:
      - TRTL_MAINTENANCE=false
      - TRTL_BIND_ADDR=:8436
      - TRTL_METRICS_ADDR=:7778
      - TRTL_METRICS_ENABLED=true
      - TRTL_LOG_LEVEL=debug
      - TRTL_CONSOLE_LOG=true
      - TRTL_DATABASE_URL=leveldb:////data/trtl/db-mainnet
      - TRTL_DATABASE_REINDEX_ON_BOOT=false
      - TRTL_REPLICA_ENABLED=false
      - TRTL_REPLICA_PID=8
      - TRTL_REPLICA_REGION=docker-mainnet
      - TRTL_REPLICA_NAME=docker-mainnet-8
      - TRTL_REPLICA_GOSSIP_INTERVAL=10s
      - TRTL_REPLICA_GOSSIP_SIGMA=1500ms
      - TRTL_INSECURE=true
      - TRTL_MTLS_CERT_PATH
      - TRTL_MTLS_CHAIN_PATH
      - TRTL_BACKUP_ENABLED=false
      - TRTL_BACKUP_INTERVAL=1h
      - TRTL_BACKUP_STORAGE=/data/backups
      - TRTL_BACKUP_KEEP=1
    profiles:
      - db
      - gds
      - api
      - mainnet
      - all

  gds-admin-ui-mainnet:
    build:
      context: ../
      dockerfile: ./containers/gds-admin-ui/Dockerfile
      args:
        REACT_APP_GDS_API_ENDPOINT: http://localhost:8434/v2
        REACT_APP_GDS_IS_TESTNET: "false"
        REACT_APP_GOOGLE_CLIENT_ID: ${REACT_APP_GOOGLE_CLIENT_ID}
        REACT_APP_SENTRY_DSN: ${REACT_APP_ADMIN_SENTRY_DSN}
        REACT_APP_SENTRY_ENVIRONMENT: "development"
        REACT_APP_VERSION_NUMBER: ${REACT_APP_VERSION_NUMBER}
        REACT_APP_GIT_REVISION: ${REACT_APP_GIT_REVISION}
    image: trisa/gds-admin-ui
    depends_on:
      - gds-mainnet
    init: true
    ports:
      - 3002:80
    profiles:
      - admin
      - ui
      - mainnet
      - all

  auth0-debug:
    build:
      context: ../
      dockerfile: ./containers/auth0-debug/Dockerfile
    image: trisa/auth0-debug
    ports:
      - 3003:3003
    profiles:
      - all
      - api
      - testnet
      - auth0

  cathy:
    build:
      context: ../
      dockerfile: ./containers/cathy/Dockerfile
      args:
        GIT_REVISION: ${GIT_REVISION}
    image: trisa/cathy
    init: true
    ports:
      - 8831:8831
    volumes:
      - ../fixtures:/data
    environment:
      - SIAS_BIND_ADDR=:8831
      - SIAS_MODE=release
      - SIAS_LOG_LEVEL=debug
      - SIAS_CONSOLE_LOG=true
      - SIAS_AUTH_USERNAME=cathyadmin
      - SIAS_AUTH_PASSWORD=supersecretsquirrel
      - SECTIGO_USERNAME=cathyadmin
      - SECTIGO_PASSWORD=supersecretsquirrel
      - SECTIGO_PROFILE=17
      - SECTIGO_ENVIRONMENT=testing
      - SECTIGO_ENDPOINT=http://localhost:8831
    profiles:
      - gds
      - api
      - testnet
      - mainnet
      - cathy
      - all
