version: "3"
services:
  gds:
    build:
      context: ../
      dockerfile: ./containers/gds/Dockerfile
    image: trisa/gds
    init: true
    ports:
      - 4433:4433
      - 4434:4434
      - 4435:4435
    volumes:
      - ../fixtures:/data
    environment:
      - GDS_MAINTENANCE=false
      - GDS_API_ENABLED=true
      - GDS_BIND_ADDR=:4433
      - GDS_DIRECTORY_ID=local.directory.dev
      - GDS_SECRET_KEY=supersecretsquirrel
      - GDS_LOG_LEVEL=debug
      - GDS_CONSOLE_LOG=true
      - GDS_DATABASE_URL=leveldb:////data/db
      - GDS_DATABASE_REINDEX_ON_BOOT=false
      - GDS_ADMIN_ENABLED=true
      - GDS_ADMIN_BIND_ADDR=:4434
      - GDS_ADMIN_MODE=release
      - GDS_ADMIN_TOKEN_KEYS=1y9jUjVqRqRJaiKsNqrZmQkhTqe:/data/creds/current_token_key.pem,1y9jTDgrljWl0iVUOQBcCev7rBG:/data/creds/rotated_token_key.pem
      - GDS_ADMIN_OAUTH_GOOGLE_AUDIENCE
      - GDS_ADMIN_OAUTH_AUTHORIZED_EMAIL_DOMAINS=trisa.io,rotational.io,akiltechnologies.com,100kode.io
      - GDS_ADMIN_ALLOW_ORIGINS=http://localhost:3001,http://localhost:3000
      - GDS_ADMIN_COOKIE_DOMAIN=localhost
      - GDS_ADMIN_AUDIENCE=http://localhost:4433
      - GDS_MEMBERS_ENABLED=true
      - GDS_MEMBERS_BIND_ADDR=:4435
      - GDS_MEMBERS_INSECURE=true
      - GDS_REPLICA_ENABLED=false
      - GDS_REPLICA_BIND_ADDR=:4436
      - GDS_REPLICA_PID=8
      - GDS_REPLICA_REGION="docker"
      - GDS_REPLICA_NAME="local1.directory.dev"
      - SECTIGO_USERNAME
      - SECTIGO_PASSWORD
      - SECTIGO_PROFILE
      - SECTIGO_TESTING
      - GDS_EMAIL_TESTING
      - GDS_EMAIL_STORAGE
      - GDS_SERVICE_EMAIL
      - GDS_ADMIN_EMAIL
      - SENDGRID_API_KEY
      - GDS_VERIFY_CONTACT_URL=http://localhost:3000/verify-contact
      - GDS_ADMIN_REVIEW_URL=http://localhost:3001/vasps/
      - GDS_CERTMAN_INTERVAL=5m
      - GDS_CERTMAN_STORAGE=/data/certs
      - GDS_BACKUP_ENABLED=true
      - GDS_BACKUP_INTERVAL=1h
      - GDS_BACKUP_STORAGE=/data/backups
      - GDS_BACKUP_KEEP=1
      - GOOGLE_APPLICATION_CREDENTIALS
      - GOOGLE_PROJECT_NAME
      - GDS_SECRETS_TESTING
    profiles:
      - gds
      - api
      - all

  envoy:
    build:
      context: ../
      dockerfile: ./containers/grpc-proxy/Dockerfile
    image: trisa/grpc-proxy
    init: true
    ports:
      - 8080:8080
    profiles:
      - proxy
      - api
      - all

  gds-ui:
    build:
      context: ../
      dockerfile: ./containers/gds-ui/Dockerfile
      args:
        REACT_APP_GDS_API_ENDPOINT: http://localhost:8080
        REACT_APP_GDS_IS_TESTNET: "true"
        REACT_APP_ANALYTICS_ID: ${REACT_APP_ANALYTICS_ID}
    image: trisa/gds-ui
    init: true
    ports:
      - 3000:80
    profiles:
      - user
      - ui
      - all

  gds-admin-ui:
    build:
      context: ../
      dockerfile: ./containers/gds-admin-ui/Dockerfile
      args:
        REACT_APP_GDS_API_ENDPOINT: http://localhost:4434/v2
        REACT_APP_GDS_IS_TESTNET: "true"
        REACT_APP_GOOGLE_CLIENT_ID: ${REACT_APP_GOOGLE_CLIENT_ID}
    image: trisa/gds-admin-ui
    init: true
    ports:
      - 3001:80
    profiles:
      - admin
      - ui
      - all
