version: '3'
services:
  gds:
    build:
      context: ../
      dockerfile: ./containers/gds/Dockerfile
    image: trisa/gds
    ports:
      - 4433:4433
    volumes:
      - ../fixtures:/data
    environment:
      - GDS_BIND_ADDR=:4433
      - GDS_DIRECTORY_ID=local.directory.dev
      - GDS_SECRET_KEY=supersecretsquirrel
      - GDS_DATABASE_URL=leveldb:////data/db
      - SENDGRID_API_KEY
      - GDS_SERVICE_EMAIL
      - GDS_ADMIN_EMAIL
      - GDS_LOG_LEVEL=debug
      - SECTIGO_USERNAME
      - SECTIGO_PASSWORD
      - GDS_CERTMAN_INTERVAL=5m
      - GDS_CERTMAN_STORAGE=/data/certs
      - GDS_BACKUP_ENABLED=true
      - GDS_BACKUP_INTERVAL=1h
      - GDS_BACKUP_STORAGE=/data/backups
      - GDS_BACKUP_KEEP=1
  envoy:
    build:
      context: ../
      dockerfile: ./containers/grpc-proxy/Dockerfile
    image: trisa/grpc-proxy
    ports:
      - 8080:8080

