<p>Hello {{ .Name }},</p>

<p>
  Your TRISA network registration has been approved (or reapproved)! Your organization
  has been granted identity certificates validating your membership to other TRISA
  members via the TRISA Global Directory. Attached to this email are PKCS12
  encrypted certificates so that you can implement the TRISA protocol using mTLS
  with other network members to exchange Travel Rule compliance information.
</p>

<p>The primary details of your directory entry are as follows:</p>

<ul>
  <li><strong>ID:</strong> {{ .VID }}</li>
  <li><strong>Registered Directory:</strong> {{ .RegisteredDirectory }}</li>
  <li><strong>Organization:</strong> {{ .Organization }}</li>
  <li><strong>Common Name:</strong> {{ .CommonName }}</li>
  <li><strong>Serial Number:</strong> {{ .SerialNumber }}</li>
  <li><strong>Endpoint:</strong> {{ .Endpoint }}</li>
</ul>

<p>
  To decrypt your certificates, <em>you will need a PKCS12 password</em>. If this is
  the first certificate you've received after registration, you'll need the PKCS12
  password that was displayed during the registration process. If these are annually
  re-issued certificates, you'll need the PCKS12 password that was emailed to you via a
  one-time Whisper link preceding this email.
</p>

<p>
  To decrypt the unzipped certificates on the command line, you can use <code>openssl</code>
  as described in <a href="https://trisa.dev/joining-trisa/pkcs12/index.html#accessing-and-saving-the-certificates">our documentation</a>.
<p>

<p>
  For more information on integrating with the TRISA network, please see our
  documentation at <a href="https://trisa.dev/">trisa.dev</a>. If you have any
  questions, you may contact us at
  <a href="mailto:support@rotational.io">support@rotational.io</a> or join us on
  our <a href="https://trisa-workspace.slack.com">Slack channel</a>. Please do
  not reply directly to this email.
</p>

<p>
  Best Regards,<br />
  TRISA Global Directory Service Team
</p>
