<p>Hello {{ .Name }},</p>

<p>
  We wish to remind you that your TRISA Identity Certificates for
  <em>{{ .CommonName }}</em> will soon be expiring. The expiration date on your
  current certificates is <em>{{ .ExpirationDate }}</em>.
</p>

<p>
  The Global Directory Service will automatically reissue your certificates on
  <strong>{{ .ReissueDate }}</strong>.When the certificates are reissued, you
  will receive two additional emails &mdash; one will contain your
  password-protected certificates and the other will contain your PKCS12
  password. You will use the PKCS12 password to decrypt the new certificates.
</p>

<p>
  <em
    >Please note: the PKCS12 password will be sent via a time-sensitive secure
    link, so please be sure to look out for both reissuance notification emails
    and open them immediately.</em
  >
</p>

<p>
  Once your new certificates have been issued, your expiring certificates will
  remain valid until the expiration date. However, the certificate details
  listed for your organization in the Global Directory Service will be updated
  to the new certificates. Any counterparty that queries your certificate
  details after the reissuance will receive the new certificate details, which
  may have the potential of causing conflicts with any transfers that occur
  before you have updated your node to use the new certificates. We encourage
  you to install the new certificates as expeditiously as possible.
</p>

<p>
  Please review the primary details of your directory entry and
  <em>current</em> certificate:
</p>

<ul>
  <li><strong>ID:</strong> {{ .VID }}</li>
  <li><strong>Registered Directory:</strong> {{ .RegisteredDirectory }}</li>
  <li><strong>Organization:</strong> {{ .Organization }}</li>
  <li><strong>Common Name:</strong> {{ .CommonName }}</li>
  <li><strong>Serial Number:</strong> {{ .SerialNumber }}</li>
  <li><strong>Endpoint:</strong> {{ .Endpoint }}</li>
</ul>

<p>
  If you have any questions or changes, please contact us at
  <a href="mailto:support@rotational.io">support@rotational.io</a>. Please do
  not reply directly to this email.
</p>
<p></p>

<p>
  Best Regards,<br />
  TRISA Global Directory Service Team
</p>
