<p>Hello {{ .Name }},</p>

<p>Unfortunately, the TRISA Review Board has rejected your TRISA Global Directory Service
registration request. The reason the request was rejected is as follows:<p>

<ul>
  <li><strong>ID:</strong> {{ .VID }}</li>
  <li>{{ .Reason }}</li>
</ul>

<p>Please note that in order to fix the problems mentioned above, you'll have to submit
a registration appeal. Please send an appeal or questions to
<a href="mailto:support@rotational.io">support@rotational.io</a>. Please do not reply directly to this email.</p>

<p>Best Regards,<br />
TRISA Global Directory Service Team</p>
