<p>Hello {{ .Name }},</p>

<p>Unfortunately, the TRISA review board has rejected your TRISA Global Directory Service
registration request. The reason the request was rejected is as follows:<p>

<ul>
  <li><strong>ID:</strong> {{ .VID }}</li>
  <li>{{ .Reason }}</li>
</ul>

<p>Please note that in order to fix the problems mentioned above, you'll have to submit
a registration appeal. Please send any questions to
<a href="mailto:admin@trisa.io">admin@trisa.io</a>.</p>

<p>Best Regards,<br />
The TRISA Global Directory Service</p>