<p>Hello {{ .Name }},</p>

<p>Thank you for submitting a TRISA network registration request. To begin the review
process, please <a href="{{ .VerifyContactURL }}">verify your email by clicking this
link.</a></p>

If you cannot click on the link, please try copy and pasting the link below into your
browser address bar:</p>

<p><code>{{ .VerifyContactURL }}</code></p>

If you're having trouble verifying your contact email, please contact the TRISA admins
at <a href="mailto:admin@trisa.io">admin@trisa.io</a> or on our community
<a href="https://trisa-workspace.slack.com">Slack channel</a>.

<p>Best Regards,<br />
The TRISA Global Directory Service</p>